/* Estilo general del Aside */
.main-sidebar {
    background-color: #4D148C; /* Color de fondo */
    color: white; /* Texto blanco */
}

/* Fondo blanco solo en la sección del logo */
.brand-link {
    background-color: white; /* Fondo blanco para el logo */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-bottom: 1px solid #f4f6f9;
}

.brand-image {
    height: 50px; /* Ajustar el tamaño del logo */
    max-width: 100%; /* Escalar correctamente */
    margin-right: 10px;
}

.brand-text {
    color: #4D148C; /* Color del texto "Impulso Capital" */
    font-weight: bold;
    font-size: 1.2rem;
}

/* Resto de los elementos del Aside */
.main-sidebar .nav-sidebar > .nav-item > .nav-link {
    color: white;
}

.main-sidebar .nav-sidebar > .nav-item > .nav-link i {
    color: white;
}

.main-sidebar .nav-sidebar > .nav-item:hover > .nav-link {
    background-color: #3B0D6D;
}

.main-sidebar .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #3B0D6D;
    color: white;
}

.main-sidebar .user-panel .info a {
    color: white;
}

.main-sidebar .sidebar-search {
    border-color: white;
}

.main-sidebar .form-control-sidebar {
    background-color: #5E2599;
    color: white;
    border: 1px solid #6B35A1;
}

.main-sidebar .input-group .btn-sidebar {
    background-color: #5E2599;
    color: white;
}

.sidebar-custom .btn {
    color: white;
}

.sidebar-custom .btn:focus {
    outline: none;
}

.sidebar-custom .btn:hover {
    background-color: #3B0D6D;
}
